.main {
  background-color:var(--background);
  height: 100dvh;
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 20px;
}



.content{
  background-color: var(--background-second);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* mobille */
.responsiveContainer{
  /* padding:  10px calc(30px + 1.5625vw); sirve pero para este caso no */
  padding:  10px 1%;
}

/* tablet */
@media (min-width:800px){
  .responsiveContainer{
    padding: 10px 4%;

  }
}

/* desktop */
@media (min-width:1000px) {
  .responsiveContainer {
      padding: 10px 7%;
  }
}